{% extends "base.html" %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <h1>Change password</h1>

    {% if complete %}
        <p>Password changed successfully</p>
        <p><a href="{{ login_url }}">Click here to login</a></p>
    {% else %}
        <form action="" method="post" novalidate>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            {% if error %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endif %}

            <p>
                {% for error in form.password1.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {{ form.password1.label }}<br>
                {{ form.password1(size=32) }}
            </p>
            <p>
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}
            </p>
            <p>
                {{ form.submit() }}
            </p>

            <a href="{{ login_url }}">Go back</a>
        </form>
    {% endif %}
{% endblock %}
