{% extends "base.html" %}

{% block title %}
    Edit profile
{% endblock %}

{% block content %}
    <script>
        function revokeConsent(clientName, clientId) {
            if(confirm('Revoke all permissions granted to ' + clientName + '?')) {
                document.location = '{{ revoke_consent_url }}&client_id=' + clientId;
            }
        }
    </script>

    <h1>Edit profile</h1>
    <form action="" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <p>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {% for error in form.company.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {{ form.company.label }}<br>
            {{ form.company(size=32) }}
        </p>
        <p>
            {% for error in form.phone.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {{ form.phone.label }}<br>
            {{ form.phone(size=32) }}
        </p>


        <br><hr><br>


        <h2>Change password</h2>
        <p>
            Leave these fields empty to keep your current password.
        </p>

        {% if password_error %}
            <span style="color: red;">[{{ password_error }}]</span><br>
        {% endif %}

        <p>
            {% for error in form.current_password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {{ form.current_password.label }}<br>
            {{ form.current_password(size=32) }}
        </p>
        <p>
            {% for error in form.password1.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {{ form.password1.label }}<br>
            {{ form.password1(size=32) }}
        </p>
        <p>
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
        </p>

        <br>

        <p>{{ form.submit() }}</p>


        <br><hr><br>


        <h1>Consents granted</h1>
        <p>
            The following clients have been granted the listed permissions:
        </p>

        {% for consent in consents %}
            <h2>{{ consent.client_name }}</h2>
            {% for scope in consent.scopes_readable %}
              {{scope}}
              <hr>
            {%endfor%}

            <p>
                <input type="button"
                      value="REVOKE THIS CONSENT"
                      style="color: red"
                      onclick="revokeConsent('{{ consent.client_name }}', '{{ consent.client_id }}')">
            </p>
          <br><br>
        {%endfor%}


        <br><br>

        <a href="{{ return_url }}">Go back</a>
    </form>
{% endblock %}
