{% extends "base.html" %}

{% block title %}
    Terms
{% endblock %}

{% block content %}
    <h1>Terms</h1>

    <p>Jeg accepterer på vegne af (mig selv/min virksomhed) at deltage i Energinet DataHubs test af eloprindelse prototypen, der har til formål at undersøge, hvorvidt energiproduktion fra vedvarende energikilder kan matches time for time med elforbruget.</p>

    <p>Jeg ønsker at stille (mine/min virksomheds) data til rådighed, ved at afgive fuldmagt til Energinet DataHub som tredjepart. Afgivelse af fuldmagt sker ved hjælp af NemID. En oversigt over data, som fuldmagten omfatter, vil fremgå af vilkår for fuldmagtsgivningen, som bliver vist som led i fuldmagtsprocessen/ før underskrift af fuldmagten.</p>

    <p>Jeg accepterer at en delmængde af mine data bliver skrevet på en blockchain, som ikke kan fjernes før slutningen af testen af systemet. Disse data består af tidsrum, mængde og landsdel (vest danmark / øst danmark) som bliver skrevet på blockchain. Relationen mellem målingerne kendes kun af ejeren og DataHub.</p>

    <p>Det er kun Energinet DataHub og jeg, som bruger af platformen, der får adgang til min virksomheds data.</p>

    <p>På platformen accepterer jeg at være synlig i et kartotek hvor folk søge en frem, som et led i at lave overførsler til.</p>

    <p>Mine/min virksomheds måler og forbrugs data bliver kun tilgængelig for andre, hvis jeg aktivt vælger at offentliggøre det via platformen.</p>

    <p>Jeg kan til enhver tid trække fuldmagten tilbage, så min virksomheds data vil blive slettet og anonymiseret.</p>

    <p>Jeg accepterer at Energinet må kontakte mig i forbindelse med prototypen og høre om mine oplevelser af systemet.</p>

    <a href="javascript:close();" >Accept</a>
{% endblock %}
