{% extends "base.html" %}

{% block title %}
    Terms
{% endblock %}

{% block content %}
    <h1>Terms</h1>

    <p>Jeg accepterer på vegne af mig selv (eller min virksomhed) at deltage i Energinet DataHubs prototype Eloprindelse, der har til formål at undersøge, hvorvidt energiproduktion fra vedvarende energikilder kan matches time for time med elforbruget. Energinet DataHub vil sikre at strømmens oprindelse kan bevises og spores med en højere tidsopløsning. På denne måde kan elforbrugere være sikker på hvordan deres strøm er blevet produceret – time for time.</p>

    <p>Jeg ønsker at stille mine (eller min virksomheds) data til rådighed, ved at afgive fuldmagt til Energinet DataHub som tredjepart. Afgivelse af fuldmagt sker ved hjælp af NemID. En oversigt over data, som fuldmagten omfatter, vil fremgå af vilkår for fuldmagtsafgivningen, som bliver vist som led i fuldmagtsprocessen.</p>

    <p>Jeg accepterer at en delmængde af mine data bliver skrevet på en blockchain i anonymiseret form. Disse data, som dækker tidsrum, energimængde og prisområde (DK1, Vest Danmark / DK2, Øst Danmark), kan ikke fjernes før prototypen Eloprindelse er afsluttet.  Oplysning om relationen mellem en energimængde og en forbruger eller producent er kun tilgængelig for Energinet DataHub og forbrugeren eller producenten. </p>

    <p>Det er kun Energinet DataHub og jeg, som bruger af prototypen Eloprindelse, der får adgang til mine eller min virksomheds data. Oplysning om mine eller min virksomheds målepunkter og måledata bliver kun tilgængelig for andre, hvis jeg aktivt vælger at offentliggøre det via prototypen Eloprindelse. </p>

    <p>Jeg accepterer at være synlig i et kartotek på prototypen Eloprindelse, hvor andre brugere af prototypen kan fremsøge min bruger som et led i overførsler af oprindelsesgarantier til og fra mig eller min virksomhed. </p>

    <p>Jeg kan til enhver tid trække fuldmagten tilbage, så mine eller min virksomheds fremtidige måledata ikke længere sendes til Eloprindelse. Jeg er opmærksom på, at de data, der hidtil er blevet sendt til Eloprindelse og er blevet offentliggjort på blockchainen i anonymiseret form, ikke kan blive slettet, selvom jeg trækker min fuldmagt tilbage. </p>

    <p>Jeg accepterer at Energinet DataHub må kontakte mig for at indhente oplysning om min oplevelse af bl.a. brugervenlighed og funktionalitet i prototypen Eloprindelse. </p>

    <a href="javascript:close();" >Accept</a>
{% endblock %}
