/* You can add global styles to this file, and also import other style files */
@import '~saturn-datepicker/bundle.css';


html, body { height: 100%; }

body {
    margin: 40px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #e9e9e9;
    background-image: url(static/background-top-left.png);
    background-position: top 25px left 0;
    background-repeat: no-repeat;

    /*
    Make the scrollbar always visible so it doesn't move the content
    horizontally when its visible and when its not
    */
    overflow-y: scroll;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-weight: normal;
}

h1, h2, h3 {
    color: #363636;
    margin-top: 0;
}

a { color: #2b505d; }
a:hover { color: #882416; }


mat-card {
    margin-bottom: 10px;
}

.legend {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}

.legend h1,
.legend h2,
.legend h3 {
    margin: 0;
}

.space {
    width: 16px;
}

.space2 {
    width: 32px;
}

.fill-remaining {
    flex-grow: 1;
}


.full-width {
    width: 100%;
}


.container {
    background: white;
    box-shadow: 2px 2px 2px #c1c1c1;
    border-radius: 5px;
    max-width: 600px;
    margin: 0px auto;
}

.container .header {
    background-color: #4d8a8b;
    padding: 20px 30px;
    border-radius: 5px 5px 0 0;
}

.container .body {
    padding: 30px;
}
